* {
  margin: 0;
  padding: 0;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: #4a4a4a;
  background-color: hsl(0, 0%, 90%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #000;
  font-weight: bold;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.post {
  border: 6px solid hsl(240, 17%, 42%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 470px;
}

.user-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 7px 0;
  border-bottom: 2px solid;
}

#profile-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.like-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-button {
  width: max-content;
  display: inline;
  padding: 0;
  cursor: pointer;
  user-select: none;
}

.like-button > img {
  width: 75px;
}

.like-info > p {
  width: 75px;
  text-align: left;
}

#follow-button {
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  width: 87px;
  cursor: pointer;
}

.following {
	background-color: hsl(240, 3%, 94%);
	color: grey;
}

.not-following {
  background-color: #40a9ff;
  color: #fff;
}

#post-img {
  height: 470px;
}
