* {
  margin: 0;
  padding: 0;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: #4a4a4a;
  background-color: hsl(0, 0%, 90%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #000;
  font-weight: bold;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  display: flex;
  list-style-type: none;
  height: 150px;
 }
 
 img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin: 0 15px;
  transition: ease-in-out 0.5s;
 }
 
 img:hover {
  width: 300px;
  height: 225px;
  transition: ease-in-out 0.5s;
 }
 